@using NoMatterWebApiWebHelper.OtherHelpers
@model WebApplication7.ViewModels.CheckoutSummaryVm


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var globalSettings = new GlobalSettings();
}

<h2>REVIEW ORDER</h2>

Review your order before continuing.
<br/>

<h3>Shopping cart contents</h3>

<table class="">
    <thead>
        <tr>
           @* <th class="views-field views-field-line-item-picture">
                         
            </th>*@
            <th class="views-field views-field-line-item-title">
                Product          
            </th>
            <th class="views-field views-field-commerce-unit-price">
                Price          
            </th>
            <th class="views-field views-field-quantity">
                Quantity          
            </th>
            <th class="views-field views-field-commerce-total views-align-right">
                Total          
            </th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var product in Model.Order.Products)
        {
           


            <tr class="odd views-row-first views-row-last">
                @*<td>
                     <img src="@Url.Content(globalSettings.ShopImagesPath + product.Picture1)" width="50px"/>
                </td>*@
                <td class="views-field views-field-line-item-title">
                    @product.Title
                </td>
                <td class="views-field views-field-commerce-unit-price price">
                    <span class="ZAR-amount currency-on">R @product.DiscountDetails.DiscountedPrice</span>
                </td>
                <td class="views-field views-field-quantity">
                    1          </td>
                <td class="views-field views-field-commerce-total views-align-right price">
                    <span class="ZAR-amount currency-on">R @product.DiscountDetails.DiscountedPrice</span>
                </td>
            </tr>
        }
        
        


    </tbody>
</table>

<br/>
Sub total: R @Model.Order.ProductAmount
<br/>
Delivery: R @Model.Order.DeliveryAmount
<br/>
Total: <b>R @Model.Order.TotalAmount</b>
<br/>

<h3>Account information</h3>

@Model.Order.User.Email

<h3>Shipping Information</h3>

@Model.Order.User.Fullname
<br/>
@Model.Order.User.Address
<br/>
@Model.Order.User.Suburb
<br/>
@Model.Order.User.City
<br/>
@Model.Order.User.Country
<br/>
@Model.Order.User.PostalCode
<br/><br/>
<b>Phone Number</b>
<br/>
@Model.Order.User.ContactNumber

<br/>

<h3>Payment</h3>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{

    <div class="PaymentTypeHeader">
        <table>
            @foreach (var paymentType in Model.PaymentTypes)
            {
                <tr>
                    <td>
                        @if (paymentType.Selected)
                        {
                            <input type="radio" name="selectedPaymentType" value="@paymentType.ClientPaymentTypeId" checked="checked" />
                        }
                        else
                        {
                            <input type="radio" name="selectedPaymentType" value="@paymentType.ClientPaymentTypeId" />
                        }
                    </td>
                    <td align="left">
                        @if (!string.IsNullOrEmpty(paymentType.PaymentTypePicture))
                        {
                            <img src="@Url.Content(paymentType.PaymentTypePicture)"/>
                        }
                        else
                        {
                            @paymentType.PaymentTypeName @:- @paymentType.PaymentTypeDetails
                        }
                    </td>
                    <td>
                                        
                                        
                    </td>
                </tr>
            }  
        </table>            
    </div>
    
    <br/>
    <p>
        <input type="submit" class="siteButton"  value="Continue to next step" />
    </p> 
    
    <br/>
}


