@using NoMatterWebApiWebHelper
@using NoMatterWebApiWebHelper.OtherHelpers
@model NoMatterWebApiModels.ViewModels.CategoryShopVm

@{
    ViewBag.Title = Model.Category.CategoryFriendlyName;
    ViewBag.MetaDescription = "Buy awesome " + Model.Category.CategoryFriendlyName + " from " + StaticGlobalSettings.ClientName + ". " + StaticGlobalSettings.SiteMetaDescription;

}

<div id="container" class="clearfix">


    <div class="categoryImage mid">

        <img src="~/Content/images/Lighting2.jpg"/>

        <h2>Lighting</h2>
        <h3>Our beautiful selection of classic retro handmade lighting, perfect for your home.</h3>

    </div>

    <div id="content">
                
        <div class="itemListOuter">
            
            @{Html.RenderPartial("partialProductCategoryDetails", Model.Category);}   
            
            @if (Model.Products.Count == 0)
            {    
                @: <br /><br /><br />Sorry, there is currently nothing to display in this category. <br />Please check again soon.<br /><br /><br /><br />
            }
            else
            {
                foreach (var item in Model.Products.Where(item => !string.IsNullOrEmpty(item.Picture1)))
                {
                    <div class="itemListInner"> 
                        <div class="itemListInnerPicture">

                            <a id="@item.ProductId" href="@Url.Action("Product", new {id = item.ProductId, category = Model.Category.CategoryName})">
                                 <img src="@StaticGlobalSettings.ImagesBaseAddress@item.Picture1?w=150"/>

                                @if (item.Sold)
                                {
                                    <div class="itemListSoldItem">
                                        <div class="itemListSoldItemText">
                                            Sold
                                        </div>
                                    </div>
                                }
                                else if (item.Reserved)
                                {
                                    <div class="itemListReservedItem">
                                        <div class="itemListReservedItemText">
                                            Reserved
                                        </div>
                                    </div>
                                }

                                @if ((item.Reserved && item.DiscountDetails.Discounted) || item.DiscountDetails.Discounted)
                                {
                                    <div class="itemListSaleItem">
                                    </div>
                                }

                            </a>
                               
                        </div>   
                        
                        <div class="itemListDetailsWrapper">
                            <div class="itemListDetailsDescription">
                                @item.Title                                                                
                            </div>                   
                    
                            <div class="itemListDetailsPrice">
                                @if (item.DiscountDetails.Discounted)
                                {
                                    <strike>R @String.Format("{0:0}", item.Price) </strike> @:&nbsp;
                             
                                    @:R @String.Format("{0:0}", item.DiscountDetails.DiscountedPrice) 
                                }
                                else
                                {
                                    @:R @String.Format("{0:0}", item.Price)  
                                }
                            </div>
                        </div>          
                  
                    </div>
                }
            }
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>
