@using NoMatterWebApiWebHelper.OtherHelpers
@model NoMatterWebApiModels.ViewModels.ViewProductVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = Model.Product.Title;
    ViewBag.OgTitle = Model.Product.Description;
   // ViewBag.ImageUrl = Url.Content(StaticGlobalSettings.OgShopImagesPath + Model.Product.Picture1);
    ViewBag.Type = "product";
    ViewBag.MetaDescription = "Buy the " + Model.Product.Description + " from " + StaticGlobalSettings.ClientName + ". " + StaticGlobalSettings.SiteMetaDescription;

}

<div class="PageNavigationBar">
    @Html.ActionLink("Back to Products", "CategoryShop", "Shop", new { categoryId = @Model.FromCategory }, new { @class = "BackLink" })
</div>

<h3>@Model.Product.Title</h3>

<div class="ViewShopProductImageWrapper">
    
    <div class="ViewShopProductMainImage">
        <img src="@StaticGlobalSettings.ImagesBaseAddress@Model.Product.Picture1?w=250"/>
    </div>
    
    <div class="ViewShopProductThumbnailImages">
        
        @if (!string.IsNullOrEmpty(Model.Product.Picture2))
        {
            <img src="@StaticGlobalSettings.ImagesBaseAddress@Model.Product.Picture2?w=50" />
        }
        @if (!string.IsNullOrEmpty(Model.Product.Picture3))
        {
            <img src="@StaticGlobalSettings.ImagesBaseAddress@Model.Product.Picture3?w=50"/>
        }
        @if (!string.IsNullOrEmpty(Model.Product.Picture4))
        {
            <img src="@StaticGlobalSettings.ImagesBaseAddress@Model.Product.Picture4?w=50"/>
        }
        @if (!string.IsNullOrEmpty(Model.Product.Picture5))
        {
            <img src="@StaticGlobalSettings.ImagesBaseAddress@Model.Product.Picture5?w=50"/>
        }
    
    </div>

</div>

<br/><br/>
<i>@Model.Product.Description</i>
<br/><br/>

Price: R @Model.Product.DiscountDetails.DiscountedPrice
<br/><br/>
@if (Model.Product.DiscountDetails.Discounted)
{
    
    <b>Discount Details</b>
    @:Original Price: R @Model.Product.Price
    <br/>
    
    <br/>
    if (Model.Product.DiscountDetails.DiscountTypeId == 3)
    {
         @:Discount Amount: @Model.Product.DiscountDetails.DiscountAmount %
     }
    else if (Model.Product.DiscountDetails.DiscountTypeId == 2)
    {
        @:Discount Amount: @Model.Product.DiscountDetails.DiscountAmount %
    }
}

Size: @Model.Product.Size
<br/><br/>

<a href="javascript:void(0);" class="btn btn-default" onclick="addToCart('@Model.Product.ProductId');">Add to Cart</a>


<br/><br/>
@if (Model.Product.RelatedProductDetails != null && Model.Product.RelatedProductDetails.RelatedProducts.Any())
{
    <div class="RelatedProductsWrapper">
        
        <h4>Related Products</h4>

        @foreach (var product in Model.Product.RelatedProductDetails.RelatedProducts)
        {
            <div class="ShopRelatedProduct">
                <a id="@product.ProductId" href="@Url.Action("ViewProduct", new { productId = product.ProductId, categoryId = Model.FromCategory })"> 
       
                    <img src="@StaticGlobalSettings.ImagesBaseAddress@product.Picture1?w=100"/>
                        
                </a>
            </div>
        }
        
    </div>
}


<script type="text/javascript">


    function addToCart(id) {

        $.post('@Url.Action("AddProductToCart", "Cart")' + "?productId=" + id + "&quantity=1")
              .success(function (data) {

                  // var cartItemCount = $('#cartItemCount').html();                 
                  //$('#cartItemCount').html(parseInt(cartItemCount) + 1);

                  alert("Thank you. The item was added to your cart.");

                  //$(".headerCart").css("display", "block");

              })
              .error(function (xhr) {
                  var obj = jQuery.parseJSON(xhr.responseText);
                  alert(obj.Message);
              });
    }

</script>
