@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Admin Section</h2>


@Html.ActionLink("Sections & Categories", "Sections", "Admin") 
<br/>
<br/>
@Html.ActionLink("Products", "Products", "Admin") 
<br/>
<br/>
@Html.ActionLink("Discounts", "Discounts", "Admin") 
<br/>
<br/>
@Html.ActionLink("Users", "Users", "Admin") 
<br/>
<br/>
@Html.ActionLink("My Profile", "UserProfile", "Admin") 


