@using SharedLibrary.Helpers
@model SharedLibrary.ViewModels.EftPaymentVm

@{
    ViewBag.Title = "ProcessEftPayment";

    var globalSettings = new GlobalSettings();
}


<div class="pageHeader">Yay, order completed successfully!</div>
<br/>

Your order number is <b>@Model.Order.OrderId</b>.
<br /><br />
<u>Order Details:</u><br />
@foreach (var item in Model.Order.ShopItems)
{
    if (item.DiscountDetails.Discounted == true)
    {
        @item.Description @: - R @String.Format("{0:0}", item.DiscountDetails.SalePrice)<br />
    }
    else
    {
        @item.Description @: - R @String.Format("{0:0}", item.Price)<br />
    }
}

Shipping - R @String.Format("{0:0}", Model.Order.ShippingAmount) 
<br />
The total amount is <b> R @String.Format("{0:0}", Model.Order.Total)</b>

<br /><br />
<u>Please pay the total due amount into the bank details below:</u>
<br />
Name: <b>@Model.BankDetails.AccountName</b><br />
Bank: <b>@Model.BankDetails.BankName</b><br />
Branch: <b>@Model.BankDetails.BranchName</b><br />
Branch Code: <b>@Model.BankDetails.BranchNumber</b><br />
Account Number: <b>@Model.BankDetails.AccountNumber</b><br />
Reference: (please use your name & order number)
<br /><br />
*Payment needs to be made within 24hrs or goods will be unreserved & sold to the next customer. 
<br/>
Kindly send proof of payment to <b><u>@globalSettings.EmailAddressSales</u></b> asap to confirm your items as SOLD.
<br /><br/>
*Please note that we cannot courier your item(s) until the funds have cleared. 
<br /><br />
*This information has also been emailed to you at <b><u>@Model.Order.User.Email</u></b>.
<br /><br /><br/>
Thanks for shopping with us!

<br/><br/>

<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>
