<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    <link rel="SHORTCUT ICON" href="~/Content/images/icon.ico" />
    
    @*GOOGLE FONT*@
    <link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* @Html.ActionLink("NoMatter", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    
                   
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("SuperUser"))
                        {
                            <li>@Html.ActionLink("API Help", "Index", "Help", new { area = "" }, null)</li>
                        }
                        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, null)</li>
                    }
                    
                    <li>@Html.ActionLink("Clients", "Clients", "Home", new { area = "" }, null)</li>
                    
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - No Matter</p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
