@using NoMatterWebApiWebHelper.OtherHelpers
@model NoMatterWebApiModels.ViewModels.CategoryShopVm
@{

    ViewBag.Title = @Model.Category.CategoryName;

    ViewBag.MetaDescription = "Purchase vintage and thrifted " + Model.Category.CategoryName + " at " + @StaticGlobalSettings.SiteName;
}

<div id="container" class="clearfix">
        
    <div id="sidebar">        
        <div class="categoryListWrapper">                                                             
            <ul>
                                
                @foreach (var category in Model.Categories)
                {
                    
                    if (!string.IsNullOrEmpty(category.CategoryFriendlyName))
                    {
                        <li>@Html.ActionLink((string)category.CategoryFriendlyName, "Category", "Shop", new {id = category.CategoryName}, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink((string)category.CategoryName, "Category", "Shop", new { id = Url.Encode(category.CategoryName) }, null)</li>
                    }
                                        
                                        
                                        
                    
                    
                    @*<li><a href="javascript:getCategoryProducts('@category.CategoryName');" class="" >@category.CategoryName</a></li>*@
                }
                                           
            </ul>
        </div>                   
    </div>
        
    <div id="content">
                
        <div class="itemListOuter">
            
            @{ Html.RenderPartial("partialCategoryProducts", Model); }
            
        </div>
    </div>
</div>

<script type="text/javascript">

    function getCategoryProducts(categoryId) {

        var category = { id: categoryId };
        
        $.ajax({
            type: "GET",
            url: "@Url.Action("ShopCategoryPartial", "Shop")",
            data: category,
            datatype: "html",
            success: function (data) {
                $('.itemListOuter').html(data);
            },
            error: function (data) {
                $('.itemListOuter').html("There was an error");
            },
            
        });
    }
</script>
