@using NoMatterWebApiWebHelper.OtherHelpers
@model WebApplication7.ViewModels.ViewCategoryProductsVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var globalSettings = new GlobalSettings();
}

<h1>Category - @Model.Category.CategoryName</h1>

     @Html.ActionLink("New Product", "NewCategoryProduct", "Category", new { categoryId = @Model.Category.CategoryId }, null)

<br/>
<h2>Category Products</h2>

@foreach (var product in Model.CategoryProducts)
{
    @:Id: @product.ProductId
    <br/>
    @:Title: @product.Title
    <br/>
    <img src="@Url.Content(globalSettings.ShopImagesPath + product.Picture1)" width="100px"/>
    <br/>
    @Html.ActionLink("View Product", "ViewProduct", "Product", new { productId = @product.ProductId }, null)
    @:&nbsp;
     @Html.ActionLink("Edit Product", "EditProduct", "Product", new { productId = @product.ProductId }, null)
    @:&nbsp;
     @Html.ActionLink("Delete Product", "DeleteProduct", "Product", new { productId = @product.ProductId }, new { onclick = "return confirm('Are you sure you wish to delete this ?');" })
 
    <br/><br/>
      
}


