@model NoMatterWebApiModels.ViewModels.ViewClientsVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clients</h1>


<table class="table_grid">
    <tr>
        <th>
            ClientName
        </th>
        
         <th>
           
        </th>
        <th>
            
        </th>

    </tr>

@foreach (var client in Model.Clients)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => client.ClientName)
        </td>
       
        <td>
            @Html.ActionLink("Sections", "Sections", "Admin", new { clientId = @client.ClientId }, null)
        </td>
        
        <td>
            @Html.ActionLink("Discounts", "Discounts", "Admin", new { clientId = @client.ClientId }, null)
        </td>
       
    </tr>
    
    
}
     
</table>



