@model NoMatterWebApiModels.ViewModels.CheckoutVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Checkout</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
                        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.Email)
            @Html.ValidationMessageFor(m => m.User.Email)
        </div>
    </div>
    <br/>    
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.ContactNumber)
            @Html.ValidationMessageFor(m => m.User.ContactNumber)
        </div>
    </div>
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Fullname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.Fullname)
            @Html.ValidationMessageFor(m => m.User.Fullname)
        </div>
    </div>
    <br/>            
    
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Address)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.User.Address)
            @Html.ValidationMessageFor(m => m.User.Address)
        </div>
    </div>
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Suburb)
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(m => m.User.Suburb)
            @Html.ValidationMessageFor(m => m.User.Suburb)
        </div>
    </div>
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.City)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.City)
            @Html.ValidationMessageFor(m => m.User.City)
        </div>
    </div>
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Province)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.User.Province, new SelectList(Model.Provinces, "Value", "Text"), "-- Please Select --")
            @Html.ValidationMessageFor(m => m.User.Province)
        </div>
    </div>
    
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.Country)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.Country)
            @Html.ValidationMessageFor(m => m.User.Country)
        </div>
    </div>
        
    <div class="formInputControlWrapper">
        <div class="editor-label">
            @Html.LabelFor(m => m.User.PostalCode)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.User.PostalCode)
            @Html.ValidationMessageFor(m => m.User.PostalCode)
        </div>
    </div>
    
    <br/>
    <p>
        <input type="submit" class="siteButton" value="Continue to next step" />
    </p>         
      
}
     

<script type="text/javascript">
  $(function()
  {

      $("#User_Email").change(function () {
          
          //try and get the users details and update the textboxes from the response

          var serviceUrl = "http://localhost/NoMatterApi/api/v1/client/" + clientId + "/users/sean@dm.co.za";

          $.ajax({
              type: "GET",
              url: serviceUrl
          }).done(function (data) {
              alert(data.User.ContactNumber);
              $("#User_ContactNumber").val(data.User.ContactNumber);
          }).error(function (jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseText || textStatus);
              //$('#value1').text(jqXHR.responseText || textStatus);
          });
          
      });
      
      

      function successFunc(data, status) {
          alert(data);
          
          //Update the texboxes with the data
          

      }

      function errorFunc() {
          alert('error');
      }

  });
</script>