@using SharedLibrary.Helpers

 <script type="text/javascript">
    $(document).ready(function () {
        $("#my-menu").mmenu({
            classes: "mm-light mm-zoom-menu mm-zoom-panels",
            header: true
        });
                
        $("#my-button").click(function () {
            $("#my-menu").trigger("open.mm");
        });
    });
</script>

<nav id="my-menu">      
    <ul>
        @* <li class="Label">Categories</li>*@
                        
        
     
        @if (ViewData["SectionId"] != null && !String.IsNullOrEmpty(ViewData["SectionId"].ToString()))
        {

            var categories = CategoryStaticCache.GetCategories((short)Session["SectionId"]);

            foreach (var category in categories)
            {       
                <li>@Html.ActionLink(category.CategoryName, category.ParameterValue, category.ControllerName)</li>
            }

            switch ((short)Session["SectionId"])
            {
                case 1:
                <li class="Spacer">@Html.ActionLink("VINTAGE SHOP", "Latest", "VintageShop")</li>
                    break;
                case 2:
                <li class="Spacer">@Html.ActionLink("THRIFT SHOP", "Latest", "Shop")</li>
                    break;
            }
            
        }
        else
        {
            <li>@Html.ActionLink("VINTAGE SHOP", "Latest", "VintageShop")</li>
            <li>@Html.ActionLink("THRIFT SHOP", "Latest", "Shop")</li>
        }
              
        <li class="Spacer">@Html.ActionLink("shipping", "Shipping", "Home")</li>
        <li>@Html.ActionLink("returns", "Returns", "Home")</li>
        <li>@Html.ActionLink("payments", "Payments", "Home")</li>                       
        <li>@Html.ActionLink("size guide", "SizingGuide", "Home")</li>  
                                   
    </ul>          
</nav>
