@using NoMatterWebApiWebHelper.OtherHelpers
@model WebApplication7.ViewModels.EditProductVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var globalSettings = new GlobalSettings();
}

<div class="PageNavigationBar">
    @Html.ActionLink("Back to Products", "GetCategoryProducts", new { categoryId = @Model.Product.CategoryId }, new { @class = "BackLink" })
</div>
<br/>
<h1>Edit Product</h1>


@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.Product.CategoryId)


    <div class="editor-label">
        Title
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Product.Title, new {style = "width:300px;"})
        @Html.ValidationMessageFor(model => model.Product.Title)
    </div>

    <div class="editor-label">
        Description
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Product.Description, new {style = "width:500px;"})
    </div>
    
       <div class="editor-label">
        Hidden Notes
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Product.AdminNotes, new { style = "width:300px;" })
    </div>
    
    <div class="editor-label">
        Key Words
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Product.Keywords, new { style = "width:300px;" })
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Price)
    </div>
    <div class="editor-field">
        @Html.TextBox("Product.Price", Model.Product.Price.ToString("0"), new { style = "width:80px;" }) 
        @Html.ValidationMessageFor(model => model.Product.Price)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Size)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Product.Size, null, new { style = "width:60px" })
        @Html.ValidationMessageFor(model => model.Product.Size)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.ReleaseDate)
    </div>
    <div class="editor-field">
        @Html.TextBox("Product.ReleaseDate", Model.Product.ReleaseDate.ToShortDateString(), new { style = "width:100px;" }) 
        @Html.ValidationMessageFor(model => model.Product.ReleaseDate)
    </div>
    
     <br/>
    
    <table>                      
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Product.Hidden)
            </td>
            <td>
                @Html.EditorFor(model => model.Product.Hidden)
                @Html.ValidationMessageFor(model => model.Product.Hidden)

            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Product.Reserved)
            </td>
            <td>
                @Html.EditorFor(model => model.Product.Reserved)
                @Html.ValidationMessageFor(model => model.Product.Reserved)

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                   

            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Picture1)
            </td>
            <td >
                @Html.TextBoxFor(m => m.Picture1, new { type = "file" })
                @Html.ValidationMessageFor(m => m.Picture1)
            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Picture2)
            </td>
            <td >
                @Html.TextBoxFor(m => m.Picture2, new { type = "file" })
                @Html.ValidationMessageFor(m => m.Picture2)
            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Picture3)
            </td>
            <td >
                @Html.TextBoxFor(m => m.Picture3, new { type = "file" })
                @Html.ValidationMessageFor(m => m.Picture3)
            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Picture4)
            </td>
            <td >
                @Html.TextBoxFor(m => m.Picture4, new { type = "file" })
                @Html.ValidationMessageFor(m => m.Picture4)
            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.Picture5)
            </td>
            <td >
                @Html.TextBoxFor(m => m.Picture5, new { type = "file" })
                @Html.ValidationMessageFor(m => m.Picture5)
            </td>
        </tr>
        <tr>
            <td valign=top>
                @Html.LabelFor(model => model.PictureOther)
            </td>
            <td >
                @Html.TextBoxFor(m => m.PictureOther, new { type = "file" })
                @Html.ValidationMessageFor(m => m.PictureOther)
            </td>
        </tr>
              
    </table>
   
    <br/>
    <p>
        <input type="submit" value="Save" />
    </p>

}

<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture1)" width="100px"/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture2)" width="100px"/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture3)" width="100px"/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture4)" width="100px"/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture5)" width="100px"/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.PictureOther)" width="100px"/>