@using NoMatterWebApiWebHelper.OtherHelpers
@model WebApplication7.ViewModels.ViewProductVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var globalSettings = new GlobalSettings();
}
<div class="PageNavigationBar">
    @Html.ActionLink("Back to Products", "GetCategoryProducts", "Category", new { categoryId = @Model.Product.CategoryId }, new { @class = "BackLink" })
</div>
<br/>

<h1>Product details</h1>

Category: @Model.Product.CategoryId
<br/><br/>
Title: @Model.Product.Title
<br/><br/>
Description: @Model.Product.Description
<br/><br/>
Price: @Model.Product.Price
<br/><br/>
Size: @Model.Product.Size
<br/><br/>
Short Url: @Model.Product.ProductShortUrl
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture1)" width="200px"/>
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture2)" width="200px"/>
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture3)" width="200px"/>
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture4)" width="200px"/>
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture5)" width="200px"/>
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.PictureOther)" width="200px"/>
