@using NoMatterWebApiWebHelper.OtherHelpers
@model WebApplication7.ViewModels.ViewProductVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var globalSettings = new GlobalSettings();
}
<div class="PageNavigationBar">
    @Html.ActionLink("Back to Products", "GetCategoryProducts", "Category", new { categoryId = @Model.Product.CategoryId }, new { @class = "BackLink" })
</div>


<h1>Product details</h1>

Category: @Model.Product.CategoryId
<br/><br/>
Title: <b>@Model.Product.Title</b>
<br/><br/>
Description: <i>@Model.Product.Description</i>
<br/><br/>
Price: R @Model.Product.Price
<br/>
Discount Amount: R @Model.Product.DiscountDetails.DiscountAmount
<br />
Discounted Price: <b>R @Model.Product.DiscountDetails.DiscountedPrice</b>

<br/><br/>
Size: @Model.Product.Size
<br/><br/>
Short Url: @Model.Product.ProductShortUrl
<br/><br/>
<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture1)" width="100px"/>

<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture2)" width="100px"/>

<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture3)" width="100px"/>

<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture4)" width="100px"/>

<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.Picture5)" width="100px"/>

<img src="@Url.Content(globalSettings.ShopImagesPath + Model.Product.PictureOther)" width="100px"/>

<br/><br/>
<a href="javascript:void(0);" class="siteButton" onclick="addToCart(@Model.Product.ProductId);">Add to Cart</a>

<h3>Related Products</h3>

@foreach (var product in Model.Product.RelatedProductDetails.RelatedProducts)
{
    @product.ProductId
    <br/>
    @product.Title
    <br/>
    <img src="@Url.Content(globalSettings.ShopImagesPath + product.Picture1)" width="50px"/>
    <br/><br/>
}

<script type="text/javascript">

     
     function addToCart(id) {

         $.post('@Url.Action("AddProductToCart", "Cart")' + "?productId=" + id + "&quantity=1")
             .success(function(data) {

                // var cartItemCount = $('#cartItemCount').html();                 
                 //$('#cartItemCount').html(parseInt(cartItemCount) + 1);
                 
                 alert("Thank you. The item was added to your cart.");
                 
                 //$(".headerCart").css("display", "block");
                 
             })
             .error(function(xhr) {
                 var obj = jQuery.parseJSON(xhr.responseText);
                 alert(obj.Message);
             });
     }

</script>
