@model NoMatterWebApi.ViewModels.SettingsVm

@{
    ViewBag.Title = "Site Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Site Settings</h1>

<div class="PageNavigationBar">
    @Html.ActionLink("add setting", "SiteSettingAdd", "Admin", null, new { @class = "AddLink" })
    &nbsp; 
    @Html.ActionLink("back to admin", "Index", "Admin", null, new {@class = "BackLink"})
</div>

<table class="table_grid">
    <tr>

        <th>
            Setting Name
        </th> 
        
         <th>
            Type
        </th> 
        
        <th>
            Category
        </th> 
        
          <th>
            
          </th> 
        
          <th>
           
        </th> 
        
    </tr>

@foreach (var setting in Model.Settings)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => setting.SettingName)
        </td>
        
         <td>
            @Html.DisplayFor(modelItem => setting.SettingType)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => setting.SettingCategory)
         </td>        
              
        <td>
            @Html.ActionLink("edit", "SiteSettingEdit", "Superuser", new { settingId = @setting.SettingId }, null)
        </td>
        
         <td>
            @Html.ActionLink("delete", "SettingDelete", "Superuser", new { settingId = @setting.SettingId }, new { onclick = "return confirm('Are you sure you wish to delete this setting?');" })
        </td>
       
    </tr>
}
     
</table>
