@model NoMatterWebApi.ViewModels.RunMySqlScriptVm

@{
    ViewBag.Title = "View Sql Script";
}

<h2>View Sql Script</h2>

<div class="PageNavigationBar">
    @Html.ActionLink("back to superuser", "Index", "Superuser", null, new { @class = "BackLink" })
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

     
    <div class="editor-label">
    Script
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.Script, new {style = "width: 600px; height:50px;"})
    </div>
     
    <input type="submit" value="Run script" />
            
       
     if (Model.ScriptExecuted)
      {
            <div class="editor-label">
            Success
            </div>
            <div class="editor-field">
                @Model.Success
            </div>

          if (!Model.Success)
          {
              <div class="editor-label">
                  Script
              </div>
              <div class="editor-field">
                  @Model.ErrorText
              </div>
          }
      }
               
}


@if (Model.Data != null)
{

    <table border="1">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Data.Columns)
                {
                    <th>@col.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Data.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                    {
                        <td>@cell.ToString()</td>
                    } 
                </tr>
            }         
        </tbody>
    </table>
}