@model NoMatterWebApiModels.ViewModels.ClientSettingsVm

@{
    ViewBag.Title = "Client Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Client Settings</h1>

Client: <b>@Model.Client.ClientName</b><br/>
<br/>
<div class="PageNavigationBar">
@*@Html.ActionLink("add setting", "ClientSettingAdd", "Admin", new { clientId = @Model.Client.ClientUuid }, new { @class = "AddLink" })
    &nbsp; *@
@Html.ActionLink("add missing settings", "ClientSettingAddMissing", "Admin", new { clientId = @Model.Client.ClientUuid }, new { @class = "AddLink" })
&nbsp; 
    @if (User.IsInRole("SuperUser"))
{   
    @Html.ActionLink("back to clients", "Clients", "Superuser", null, new { @class = "BackLink" })
}
else
{
    @Html.ActionLink("back to admin", "Index", "Admin", null, new {@class = "BackLink"})
}
      
</div>

<table class="table_grid">
    <tr>

        <th>
            Setting Name
        </th> 
        
         <th>
            Category
        </th> 
        
        <th>
            String Value
        </th> 
        
         <th>
            Int Value
        </th> 
       
        <th>
           
        </th>
        
        @* <th>
           
        </th>*@

    </tr>

@foreach (var clientSetting in Model.ClientSettings)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => clientSetting.Setting.SettingName)
        </td>
        
         <td>
            @Html.DisplayFor(modelItem => clientSetting.Setting.SettingCategory)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => clientSetting.StringValue)
         </td>   
        
         <td>
            @Html.DisplayFor(modelItem => clientSetting.IntValue)
        </td>      
              
        <td>
            @Html.ActionLink("edit", "ClientSettingEdit", "Admin", new { clientId = @Model.Client.ClientUuid, clientSettingId = @clientSetting.ClientSettingId }, null)
        </td>
        
      @*   <td>
            @Html.ActionLink("delete", "ClientSettingDelete", "Admin", new { clientId = @Model.Client.ClientUuid, clientSettingId = @clientSetting.ClientSettingId }, new { onclick = "return confirm('Are you sure you wish to delete this setting?');" })
        </td>*@
       
    </tr>
    
    
}
     
</table>






