@model NoMatterWebApiModels.ViewModels.ClientPagesVm

@{
    ViewBag.Title = "Client Pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Client Pages</h1>

Client: <b>@Model.Client.ClientName</b><br/>
<br/>
<div class="PageNavigationBar">
@Html.ActionLink("add page", "ClientPageAdd", "Admin", new { clientId = @Model.Client.ClientId }, new { @class = "AddLink" })
&nbsp;    
@Html.ActionLink("back to clients", "Clients", "Admin", null, new { @class = "BackLink" })
</div>

<table class="table_grid">
    <tr>

        <th>
            Page Name
        </th> 
       
        <th>
           
        </th>
        
         <th>
           
        </th>

    </tr>

@foreach (var clientPage in Model.ClientPages)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => clientPage.PageName)
        </td>
        
        
              
        <td>
            @Html.ActionLink("edit", "ClientPageEdit", "Admin", new { clientId = @Model.Client.ClientId, pageName = @clientPage.PageName }, null)
        </td>
        
         <td>
            @Html.ActionLink("delete", "ClientPageDelete", "Admin", new { clientId = @Model.Client.ClientId, pageName = @clientPage.PageName }, new { onclick = "return confirm('Are you sure you wish to delete this page?');" })
        </td>
       
    </tr>
    
    
}
     
</table>



