@model NoMatterWebApiModels.ViewModels.ClientSettingVm


@{
    ViewBag.Title = "Client Setting Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Edit Client Setting</h1>

<div class="PageNavigationBar">
    @Html.ActionLink("back to pages", "ClientSettings", "Admin", new {clientId = @Model.Client.ClientUuid}, new { @class = "BackLink" })
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ClientSetting.ClientSettingId)
    @Html.HiddenFor(model => model.Client.ClientUuid)
    @Html.HiddenFor(model => model.ClientSetting.Setting.SettingId)

   
    <div class="editor-label">
        Setting Name
    </div>
    <div class="editor-field">
        <b>@Html.DisplayFor(model => model.ClientSetting.Setting.SettingName)</b>
      
    </div>
    
    if (Model.ClientSetting.Setting.SettingType == "String")
     {
        <div class="editor-label">
            Value
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ClientSetting.StringValue, new {style = "width:500px;"})
            @Html.ValidationMessageFor(model => model.ClientSetting.StringValue)

        </div>
     }

    if (Model.ClientSetting.Setting.SettingType == "Int")
    {
        <div class="editor-label">
            Value
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ClientSetting.IntValue, new {style = "width:200px;"})
            @Html.ValidationMessageFor(model => model.ClientSetting.IntValue)
        </div>
    }


    <br/>
    <p>
        <input type="submit" value="Save" class="btn btn-default" /> &nbsp;@Html.ActionLink("cancel", "ClientSettings", "Admin", new { clientId = Model.Client.ClientUuid }, new { onclick = "return confirm('Are you sure you wish to cancel? Note that all unsaved information will be lost.');" })
    </p>
    
    <br/>
    <b>Setting Description</b>
    <br/>

    @Html.Raw(Model.ClientSetting.Setting.SettingDescription)

}







